body {
    margin: 0;
    text-align: center;
    background-color: black
}

@font-face {
    font-family: 'Cursed Time Ulil';
    src: url("CursedTimerUlil-Aznm.ttf");
}

.container {
    display: flex;
    justify-content: space-evenly;
    background-color: #19244c;
    color: white;
    padding-bottom: 40px;
    width: 575px;
    /*height: 300px;*/
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: 5px solid white;
}

.score {
    background: #0a0001;
    font-size: 90px;
    color: #F94F6D;
    width: 155px;
    height: 120px;
    margin-bottom: 25px;
    margin-top: 10px;
    font-family: Cursed Time Ulil;
}

button {
    background: none;
    color: #97a3ca;
    border: 1px solid #97a3ca;
    border-radius: 5px;
    font-family: Cursed Time Ulil;
    padding: 8px;
}

h3 {
    font-size: 40px;
    font-weight: bold;
    padding: 0;
    margin: 10px 0 0 0;
}

h2 {
    padding-top: 15px;
}